<% layout('layout') -%>

        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" >
                <div class="item active">
                  <img src="https://pbs.twimg.com/media/C7gFHKaW4AEZVpS.jpg">
                  <div class="carousel-caption">
                  </div>
                </div>

                <div class="item">
                  <img src="http://w.ndtvimg.com/sites/13/2016/04/06120025/road_car_500.jpg">
                  <div class="carousel-caption">
                  </div>
                </div>

                <div class="item">
                  <img src="https://pbs.twimg.com/media/C9C0h_FXYAA1kqz.png">
                  <div class="carousel-caption">
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div><hr>
            <ul class="nav nav-tabs nav-justified procat">
              <li class="active"><a data-toggle="tab" href="#home">Road Related Safety</a></li>
              <li><a data-toggle="tab" href="#menu1">Person Related Safety</a></li>
              <li><a data-toggle="tab" href="#menu2">Vehicle Related Safety</a></li>
            </ul><br>

            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <div class="panel panel-info" >
                  <div class="panel-heading">What are Road related safety device?</div>
                  <div class="panel-body">This section consists of all the devices that have “on road application”.Road safety devices find application in various areas, such as on a construction site, to signal incoming traffic about an accident blocking the road or to ensure general smooth flow of traffic. You must be familiar with blinkers at the edge of a road (Road Studs), Flashing lights that indicate the direction of flow of traffic, safety sign boards and so on. All these comprise our segment of road safety devices. You can click here to buy desirable products.</div>
                </div>
                <div class="panel panel-info" >
                  <div class="panel-heading">What are Their importance as a whole topic?</div>
                  <div class="panel-body">Road safety devices come in handy when the authorities aim to curb the nuisance caused by lawless driving. Speed breakers, wheel clamps etc are used to disrupt overspeeding vehicles. 41% of deaths caused by road accidents are due to overspeeding, making these devices an absolute necessity. Besides overspeeding, Road safety devices also come in handy while creating diversion for traffic (traffic cones), ensuring smooth flow of traffic (road studs) or improving the visibility of approaching vehicle (convex mirrors).</div>
                </div>
                <hr>
                <div class="panel panel-info">
                  <div class="panel-heading">List of Road related Safety Devices</div>
                  <div class="panel-body">
                      <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Barricades</a>
                          </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item">One</li>
                            <li class="list-group-item">Two</li>
                            <li class="list-group-item">Three</li>
                          </ul>
                            <div class="panel-footer"><button class="btn"><a href="/product/596770f558f11a7efb46f213">more info</a></button></div>
                        </div>
                      </div>
                    </div>
                      <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">Traffic Cones</a>
                          </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item">One</li>
                            <li class="list-group-item">Two</li>
                            <li class="list-group-item">Three</li>
                          </ul>
                            <div class="panel-footer"><button class="btn"><a href="/product/596770f558f11a7efb46f213">more info</a></button></div>
                        </div>
                      </div>
                    </div>
                      <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3">Road reflectors</a>
                          </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item">One</li>
                            <li class="list-group-item">Two</li>
                            <li class="list-group-item">Three</li>
                          </ul>
                            <div class="panel-footer"><button class="btn"><a href="/product/596770f558f11a7efb46f213">more info</a></button></div>
                        </div>
                      </div>
                    </div>
                      <button class="btn btn-success"><a href="/products/596b49bab5092f2e30c423db">More Products</a></button>
                </div>
                </div>
              </div>
              <div id="menu1" class="tab-pane fade">
                <div class="panel panel-info" >
                  <div class="panel-heading">What are Person related safety device?</div>
                  <div class="panel-body">This section consists of all safety devices that are worn/used by people for protection. The most in-demand products are listed here such as helmets, safety jackets and so on which you may wear to prevent injury in case of an accident. The products listed here are of utmost quality, your life is in safe hands!</div>
                </div>
                <div class="panel panel-info" >
                  <div class="panel-heading">What are Their importance as a whole topic?</div>
                  <div class="panel-body">Person safety devices are preferably worn by the driver and passengers while travelling on road. These devices perform the most important function of ensuring grass root level safety. Upon collision, the victim is primarily in contact with Person Safety Device such as a seat belt, making these devices imperative. An efficient and high grade device can significantly improve your chances of survival and play the key role between life and death.</div>
                </div><hr>
                <div class="panel panel-info">
                  <div class="panel-heading">List of Person related Safety Devices</div>
                  <div class="panel-body">
                     <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse4">Helmet</a>
                          </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item">One</li>
                            <li class="list-group-item">Two</li>
                            <li class="list-group-item">Three</li>
                          </ul>
                            <div class="panel-footer"><button class="btn"><a href="/product/596770f558f11a7efb46f213">more info</a></button></div>
                        </div>
                      </div>
                    </div>
                     <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse5">Hand Gloves</a>
                          </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item">One</li>
                            <li class="list-group-item">Two</li>
                            <li class="list-group-item">Three</li>
                          </ul>
                            <div class="panel-footer"><button class="btn"><a href="/product/596770f558f11a7efb46f213">more info</a></button></div>
                        </div>
                      </div>
                    </div>
                      <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse6">Reflective jackets</a>
                          </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item">One</li>
                            <li class="list-group-item">Two</li>
                            <li class="list-group-item">Three</li>
                          </ul>
                            <div class="panel-footer"><button class="btn"><a href="/product/596770f558f11a7efb46f213">more info</a></button></div>
                        </div>
                      </div>
                    </div>
                     <button class="btn btn-success"><a href="products/596b49c5b5092f2e30c423dc">More Products</a></button>
                  </div>
                </div>
              </div>
              <div id="menu2" class="tab-pane fade">
                <div class="panel panel-info" >
                  <div class="panel-heading">What are Vehicular related safety device?</div>
                  <div class="panel-body">This section consists of safety devices which can be fitted in vehicles for protection in order to minimize damage and increase control on the vehicle. Safety standards in vehicles have evolved over time from no safety provision at all to airbags, backseat seatbelts and so on. Considering the rising number of accidents due to vehicle collision and malfunction, it is advised to install in your vehicle the most  suited devices which can be found here.</div>
                </div>
                <div class="panel panel-info" >
                  <div class="panel-heading">What are Their importance as a whole topic?</div>
                  <div class="panel-body">Vehicle Safety Devices act as the second layer of safety. Given its secondary status, their utility should not be neglected at any cost.
                    A vehicle safety device such as frontal airbag reduces driver fatalities by 29% whilst side airbags reduce the driver's risk of death by 37% in driver-side crashes.Keeping in mind the efficiency of these devices, it is highly advisable to equip your vehicle with the latest and safest devices offered at SafeKart. </div>
                </div><hr>
                <div class="panel panel-info">
                  <div class="panel-heading">List of Person related Safety Devices</div>
                  <div class="panel-body">
                    <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse7">Non-reflective mirrors</a>
                          </h4>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item">One</li>
                            <li class="list-group-item">Two</li>
                            <li class="list-group-item">Three</li>
                          </ul>
                            <div class="panel-footer"><button class="btn"><a href="/product/596770f558f11a7efb46f213">more info</a></button></div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse8">Vehicle stand</a>
                          </h4>
                        </div>
                        <div id="collapse9" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item">One</li>
                            <li class="list-group-item">Two</li>
                            <li class="list-group-item">Three</li>
                          </ul>
                            <div class="panel-footer"><button class="btn"><a href="/product/596770f558f11a7efb46f213">more info</a></button></div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse8">Another</a>
                          </h4>
                        </div>
                        <div id="collapse8" class="panel-collapse collapse">
                          <ul class="list-group">
                            <li class="list-group-item">One</li>
                            <li class="list-group-item">Two</li>
                            <li class="list-group-item">Three</li>
                          </ul>
                            <div class="panel-footer"><button class="btn"><a href="/product/596770f558f11a7efb46f213">more info</a></button></div>
                        </div>
                      </div>
                    </div>
                    <button btn btn-primary><a href="/products/596b49ccb5092f2e30c423dd">More Products</a></button>
                  </div>
                </div>
              </div>

            </div>
</div>
