<% layout('layout') -%>
<div class="jumbotron" id="navbar-gap">
  <div class="container">
      <h1> SafeKart </h1>
    <p>Starting point to buy products that ensure your safety </p>
  </div>
</div>
<div class="row" align="center">
      <div class="col-lg-4">
        <img class="img-circle" src="http://www.qsignqatar.com/wp-content/uploads/2016/01/traffic-cones-250x250.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Traffic Cones</h2>
        <p><a class="btn btn-default" href="/category" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle" src="https://ae01.alicdn.com/kf/HTB1itYRMVXXXXataXXXq6xXFXXXn/Motorcycle-font-b-road-b-font-font-b-safety-b-font-Seat-Belt-Adjuster-Bike-font.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Motorcycle Seat Belt</h2>
        <p><a class="btn btn-default" href="/category" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle" src="https://img.tolexokit.com/media/catalog/product/3/M/3M-Solar-Road-Stud_5.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2> Solar Road Stud</h2>
        <p><a class="btn btn-default" href="/category" role="button">View details &raquo;</a></p>
      </div>
    </div>
    <br><br>
<!-- ............................................................................................................ -->
  <hr class="featurette-divider">
<div class="container" align="center">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Introduction</h2>
        <p class="lead"> In today’s fast paced world, we are always in a hurry, leading to rash driving, flouting of traffic rules and ultimately accidents. Accidents can lead to permanent disability if not death.Over 1,37,000 people were killed in road accidents in 2013 alone, that is more than the number of people killed in all our wars put together. Considering this situation, it is necessary that your  vehicle and roads are equipped with modern safety devices.
</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="http://motivateme.in/wp-content/uploads/2016/01/10-Awareness-Pictures-on-Road-Safety-10.jpg" alt="Generic placeholder image">
      </div>
    </div>
<br><br>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">What are safety devices?</h2>
        <p class="lead">“A safety device is a piece of equipment such as a helmet that reduces loss or damage in case of an accident”.

Speed breakers, road studs, air bags, flourescent vests and so on are some examples of what may qualify as a safety device. Notifying the driver in case of  overspeeding, reducing the speed of the vehicle, minimising the impact of collision, indicating the sharp turns etc are few of the provisions that help reduce the cause or impact of an accident and hence save lives. Evidently, the devices that perform these functions are called Safety Devices.
</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="http://news.images.itv.com/image/file/1301339/stream_img.jpg" alt="Generic placeholder image">
      </div>
    </div>
<br><br>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Do you Know? <span class="text-muted">It'll blow your mind!</span></h2>
        <p class="lead"> “Two wheelers account for 25% of total road crash deaths. The majority of the victims are found sans helmets. Wearing an appropriate helmet would have improved their chances of survival by 42% and help avoid 69% of injuries to riders, such is the impact of safety devices. The quality of your device is of high importance and should not be neglected. Hence, the necessity and efficiency of safety devices should not be neglected at any cost.” </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="http://www.thefreshquotes.com/wp-content/uploads/2015/10/Better-Late-Than-Dead-On-Time.png" alt="Generic placeholder image">
      </div>
    </div>
<br><br>
    <hr class="featurette-divider">
</div>
